option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: me@example.com
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    TIER: `{"Ref" : "AWSEBEnvironmentName"}`'
    PRODUCTION_BUCKET: memex.link
    STAGING_BUCKET: staging.memex.link
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
